@include breakpoint-max(menu) {
  .header__navigation {
    display: none;
  }
}

@include breakpoint(menu) {

  .header__navigation {
    @include grid-column(9);


    ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      li {
        position: relative;
        @include fluid(margin, 16, 32, x);

        &:first-child {
          margin-left: auto;
        }

        &:last-child {
          margin-right: 0;
          padding: 4px 16px;
          background-color: var(--color-yellow);
          border-radius: 20px;
        }

        a {

          display: block;
          @include fluid(font-size, 16, 20);
          color: var(--color-black);

          &:before {
            position: absolute;
            z-index: -1;
            left: -5px;
            top: 50%;
            content: '';
            width: 20px;
            height: 20px;
            background-color: var(--color-yellow);
            border-radius: 50%;
            transform: translate(-25%, -50%);
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
          }
        }

        &.current-menu-item,
        &:hover {
          a:before {
            opacity: 1;
          }
        }

        ul {
          display: none;
        }

      }
    }
  }
}
