.block-hero {
  position: relative;
  @extend .--padding;

  height: 100vh;

  .block-inner {
    @extend .--width;
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .block-content {
    position: relative;
    z-index: 1;
    padding-top: 40vh;
    @include grid-row();
  }

  .headline {
    @include grid-column(4);
    text-transform: uppercase;
  }

  .g-button {
    @include grid-column(4)
  }
}

@include breakpoint(s) {
  .block-hero {
    .headline {
      @include grid-column(12)
    }

    .g-button {
      @include grid-column(16)
    }
  }
}
