.block-jobs {

  @include fluid(padding-top, 32, 96);
  @include fluid(padding-bottom, 32, 192);
  color: var(--color-black);

  .block-header, .block-body {
    @include grid-row();
  }

  .headline {
    @include grid-column(4);
    text-transform: uppercase;
    @include fluid(font-size, 30, 40);
    color: var(--color-blue-100);
  }

  .text {
    @include grid-column(4)
  }

  .jobs-filters {
    user-select: none;
    @include fluid(margin-top, 48, 96);
    @include fluid(font-size, 14, 16);
    @include grid-column(4);

    .jobs-filters-inner {
      @include grid-row();

      .filter {
        @include grid-column(4);
        position: relative;
        @include fluid(margin-top, 24, 48);
        cursor: pointer;


        .filter-active {
          border-bottom: 1px solid var(--color-black);
          @include fluid(padding, 4, 8, y);
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(0);
            transition: transform 0.4s ease;
          }
        }

        .filter-elements {
          position: relative;
          left: 0;
          right: 0;
          z-index: 10;
          background: var(--color-sand-64);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease;

          ul {
            @include fluid(padding, 2, 4, y);
            li {
              @include fluid(padding, 2, 4, y);
              &:hover,
              &.active {
                color: var(--color-orange);
              }
            }

          }
        }


        &.active {
          .filter-active {
            .icon {
              display: flex;
              transform: rotate(180deg);
            }
          }
          .filter-elements {
            max-height: 500px;
          }
        }
        &.active,
        &:hover {
          .filter-active {
            border-bottom: 1px solid var(--color-orange);
            color: var(--color-orange);
          }
        }
      }
    }
  }

  .jobs {
    @include grid-column(4);
    @include fluid(margin-top, 96, 192);
  }

  .job {
    position: relative;
    @include fluid(padding-top, 20, 40);
    border-bottom: 1px solid var(--color-black);

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }
    &:first-child {
      padding-top: 0;
    }

    .job-toggle {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 8px;
      transform: rotate(0deg);
      transition: transform 0.4s ease-in-out;

      .icon {
        display: flex;
      }
    }

    .job-header {
      @include grid-row();
      @include fluid(padding-bottom, 20, 40);

      .job-title,
      .job-department,
      .job-company {
        @include grid-column(4, 0, 4);
        color: var(--color-black);
        text-transform: uppercase;
        font-weight: 700;

        span {
          @include fluid(font-size, 14, 16);
          color: var(--color-black);
          text-transform: none;
          font-weight: 400;
        }
      }
    }

    .job-body {
      max-height: 0;
      overflow: hidden;
      transition: padding-top, 0.4s ease-in-out;

      &.active {
        @include fluid(padding-top, 20, 40);
      }

      .job-preTitle, .job-offer, .job-interested, .g-button, .job-headerTasks, .job-headerProfile {
        @include fluid(margin-top, 12, 24);
      }

      .job-headerTasks, .job-headerProfile, .job-title {
        font-weight: 700;
      }

      .job-offer, .job-interested {
        b {
          display: block;
        }
      }

      .job-title {
        text-transform: uppercase;
      }

      .g-button {
        @include fluid(margin-bottom, 32, 64);
      }
    }

    &:hover {
      border-bottom: 1px solid var(--color-orange);

      .job-header {
        cursor: pointer;

        .job-title,
        .job-department,
        .job-company {
          color: var(--color-orange);
        }
      }

      .job-toggle {

      }
    }

    &.active {
      border-bottom: 1px solid var(--color-orange);

      .job-toggle {
        [class*="icon-"] {
          transform: rotate(180deg);
        }
      }

      .job-header {
        .job-title,
        .job-department,
        .job-company {
          color: var(--color-orange);
        }
      }

      .job-body {
        max-height: 4000px;
      }
    }
  }
}

@include breakpoint(s) {
  .block-jobs {
    .headline, .text, .jobs, .jobs-filters {
      @include grid-column(16)
    }

    .jobs-filters {
      @include grid-column(16);

      .jobs-filters-inner {
        .filter {
          @include grid-column(8, 0, 16);

          .filter-elements {
            position: absolute;
            top: 100%;
          }
        }
      }
    }

    .job {
      .job-header {
        .job-title,
        .job-department,
        .job-company {
          @include grid-column(16, 0, 16);
        }
      }
    }
  }
}

@include breakpoint(m) {
  .block-jobs {
    .jobs-filters {
      @include grid-column(16);

      .jobs-filters-inner {
        .filter {
          @include grid-column(6, 0, 16);
        }
      }
    }
    .job {
      .job-header {
        .job-title,
        .job-department,
        .job-company {
          @include grid-column(5, 0, 16);
        }
      }
    }
  }
}

@include breakpoint(l) {
  .block-jobs {
    .headline, .text, .jobs, .jobs-filters {
      @include grid-column(16, 2)
    }

    .jobs-filters {
      @include grid-column(16,2);

      .jobs-filters-inner {
        .filter {
          @include grid-column(5, 0, 16);
          &:nth-child(2) {
            @include grid-column(5, 1, 16);
          }
        }
      }
    }

  }
}

@include breakpoint(xl) {
  .block-jobs {
    .headline, .text, .jobs, .jobs-filters {
      @include grid-column(14, 3)
    }

    .job {
      .job-header {
        .job-title,
        .job-department,
        .job-company {
          @include grid-column(4, 0, 14);
        }
      }
    }
  }
}