.block-section-headline {

  padding: 0;
  @include fluid(padding-top, 48, 200);
  @include fluid(padding-bottom, 24, 100);

  .headline {
    position: relative;
    text-align: center;

    &:before {
      content:'';
      z-index: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 2px;
      transform: translateY(-50%);
      background-color: var(--color-blue-100);
    }

    .h2,h3,h4,h5,h6 {
      font-size: 16px;
      font-weight: 400;
    }
    span {
      display: inline-block;
      position: relative;
      z-index: 1;
      @include fluid(padding, 40, 80, x);
      max-width: 60%;
      color: var(--color-blue-100);
    }
  }

  &.block-background-sand-100 {
    .headline span {
      background-color: var(--color-sand-100);
    }
  }

  &.block-background-sand-64 {
    .headline span {
      background-color: var(--color-sand-64);
    }
  }
  &.block-background-blue-60 {
    .headline {

      &:before {
        background-color: var(--color-white);
      }

      span {
        background-color: var(--color-blue-60);
        color: var(--color-white);
      }
    }
  }
  &.block-background-blue-40 {
    .headline span {
      background-color: var(--color-blue-40);
    }
  }
  &.block-background-blue-20 {
    .headline span {
      background-color: var(--color-blue-20);
    }
  }

}