.block-tabs {

  @include fluid(padding, 32, 96, y);
  color: var(--color-white);

  .block-width {

  }

  .block-inner {
    @include grid-row();
  }

  .block-header {
    @include grid-column(4);
  }

  .block-body {
    @include grid-column(4);
  }

  .tabs {

    @include fluid(margin-top, 44, 88);

    .tabs-inner {
      @include grid-row();
    }

    .tab-navigation {
      @include grid-column(4, 0, 4);
      .tab-title {
        font-weight: 600;
      }
    }

    .tab-content {
      margin-top: 40px;
      @include grid-column(4, 0, 4);

      .tab {
        @include fluid(font-size, 16, 25);
        h1,h2,h3,h4,h5,h6 {
          @include fluid(font-size, 16, 25);
        }
      }

      .tab[data-active="false"] {
        display: none;
      }
    }

  }

}

@include breakpoint(s) {
  .block-tabs {

    .block-header {
      @include grid-column(14);
    }

    .block-body {
      @include grid-column(16);
    }


    .tabs {
      .tab-navigation {
        @include grid-column(6, 0, 16);

        .tab-title {
          position: relative;
          margin-top: 28px;
          @include fluid(font-size, 20, 30);
          cursor: pointer;
          .decoration {
            position: absolute;
            height: 2px;
            transition: width 0.6s ease-in-out;
            background-color: var(--color-white);
            top: 100%;
            left: 0;
            width: 0;
          }
          &:hover,
          &[data-active="true"] {
            .decoration {
              width: 100%;
            }
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .tab-content {
        margin-top: 0;
        @include grid-column(10, 0, 16);



      }
    }

  }
}


@include breakpoint(l) {
  .block-tabs {

    .block-header {
      @include grid-column(16);
    }
    .block-body {
      @include grid-column(20);
    }
    .tabs {
      .tab-navigation {
        @include grid-column(6, 0, 20);
      }

      .tab-content {
        @include grid-column(13, 1, 20);
      }
    }

  }
}

@include breakpoint(xl) {
  .block-tabs {

    .block-header {
      @include grid-column(12, 2);
    }
    .block-body {
      @include grid-column(20);
    }
    .tabs {
      .tab-navigation {
        @include grid-column(5, 2, 20);
      }

      .tab-content {
        @include grid-column(12, 1, 20);
      }
    }

  }
}