.block-text-media {

  @include fluid(padding, 32, 96, y);

  .block-inner {
    @include grid-row();
  }

  .block-media {
    order: 1;
    @include grid-column(4);
  }

  .block-content {
    order: 2;
    @include grid-column(4);
    margin-top: 30px;
  }

  &.block-style-2 {
    color: var(--color-black);

    .block-content {
      .headline {
        margin-top: 60px;
        h1, .h1, h2, .h2, h3,.h3, h4, .h4, h5, .h5, h6, .h6 {
          color: var(--color-blue-100);
          @include fluid(font-size, 30, 80);
        }
      }

      .text {
        @include fluid(font-size, 16, 25);
        @include fluid(margin-top, 48, 96);
        h1,h2,h3,h4,h5,h6 {
          color: var(--color-blue-100);
          @include fluid(font-size, 25, 40);
        }
        color: var(--color-black);
      }
    }

    .block-media {
      padding-right: 40px;
      @include grid-column(3, 1);
      order: 2;

      .image, .video {
        position: relative;
        .spinner {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(50%) translateX(50%);
          img {
            animation: rotation 8s infinite linear;
            @include fluid(width, 80, 160);
            max-width: 100%;
          }
        }
      }

    }
  }

  &.block-style-3 {
    @include fluid(padding-top, 150, 260);
    @include fluid(padding-bottom, 60, 120);
    color: var(--color-white);

    .headline {
      h1, .h1, h2, .h2, h3,.h3, h4, .h4, h5, .h5, h6, .h6 {
        color: inherit;
        @include fluid(font-size, 40, 80);
      }
    }

    .text {
      margin-top: 50px;
      h1, h2, h3, h4, h5, h6 {
        color: inherit;
        @include fluid(font-size, 25, 30);
      }
    }

    .block-media {
      @include fluid(margin-top, 30, 80);
      @include grid-column(4);
      order: 2;
    }

    .block-content {
      @include grid-column(4);
      margin-top: 0;
      order: 1;
    }
  }

  &.block-background-blue-60 {
    color: var(--color-white);
  }
  &.block-background-blue-40 {
    color: var(--color-white);
  }
  &.block-background-blue-20 {
    color: var(--color-white);
  }
  &.block-background-sand-100 {
    color: var(--color-black);
  }
  &.block-background-sand-64 {
    color: var(--color-black);
  }

}

@include breakpoint(s) {
  .block-text-media {

    .block-media {
      @include grid-column(9, 2);
    }

    .block-content {
      @include grid-column(9, 5);
    }

    &.block-media-position-right {
      .block-media {
        @include grid-column(9, 5);
      }

      .block-content {
        @include grid-column(9, 2);
      }
    }
    &.block-style-2 {
      .block-media {
        order:2;
        padding-right: 0;
        @include grid-column(5, -1);
      }
      .block-content {
        order: 1;
        @include grid-column(11);
      }

      .headline {
        margin-top: 100px;
        padding-right: 64px;
      }
    }
    &.block-style-3 {
      .block-media {
        @include grid-column(16);
      }

      .block-content {
        @include grid-column(16);
      }
    }
  }
}

@include breakpoint(m) {
  .block-text-media {

    .block-media {
      @include grid-column(7);
    }

    .block-content {
      @include grid-column(7, 1);
      margin-top: 0;
    }

    &.block-media-position-right {
      .block-media {
        @include grid-column(7, 1);
        order: 2;
      }

      .block-content {
        @include grid-column(7, 1);
        margin-top: 0;
        order: 1;
      }
    }

    &.block-style-2 {
      .block-media {
        @include grid-column(6);
      }
      .block-content {
        @include grid-column(10);
      }

      .headline {
        padding-right: 0;
      }
    }
  }
}

@include breakpoint(l) {
  .block-text-media {

    .block-media {
      @include grid-column(9);
    }

    .block-content {
      @include grid-column(7, 2);
    }

    &.block-media-position-right {
      .block-media {
        @include grid-column(9, 2);
      }

      .block-content {
        @include grid-column(7,2);
      }
    }

    &.block-style-2 {
      .block-media {
        @include grid-column(9);
      }
      .block-content {
        @include grid-column(11);
      }
    }
    &.block-style-3 {
      .block-media {
        @include grid-column(16, 2);
      }

      .block-content {
        @include grid-column(16, 2);
      }

    }
  }
}

@include breakpoint(l) {
  .block-text-media {

    &.block-style-2 {
      .block-media {
        @include grid-column(9);
      }
      .block-content {
        @include grid-column(11);
        .text {
          @include grid-column(8.3, 1.6, 10);
        }
      }
    }
    &.block-style-3 {
      .block-media {
        @include grid-column(16, 2);
      }

      .block-content {
        @include grid-column(16, 2);
        .text {
          @include grid-column(14, 1, 16);
        }
      }
    }
  }
}
