.block-video {

  @include fluid(padding, 32, 96, y);
  .block-inner {
    @include grid-row();
  }

  .block-header {
    @include grid-column(4);

    .headline {
      color: var(--color-blue-100);
    }
  }

  .block-content {
    @include grid-column(4);


    .g-button {
      text-align: center;
    }
    .g-video {
      @include fluid(margin-top, 30, 60);
    }
  }
}


@include breakpoint(s) {
  .block-video {
    .block-header,
    .block-content {
      @include grid-column(14,1);

      .g-button {
        text-align: right;
      }
    }
  }
}

@include breakpoint(m) {
  .block-video {
    .block-header{
      @include grid-column(10,3);
    }
  }
}

@include breakpoint(l) {
  .block-video {
    .block-header,
    .block-content {
      @include grid-column(16,2);
    }
  }
}
@include breakpoint(l) {
  .block-video {
    .block-header,
    .block-content {
      @include grid-column(14,3);
    }
  }
}