.block-employees {

  .block__inner {
    @include grid-row();
  }

  .block__content {
    @include grid-column(12)
  }

  .block__employees {
    @include fluid(margin-top, 50, 100);
    @include grid-column(12)
  }

  .employee {
    @include fluid(margin-top, 80, 200);

    &:first-child {
      margin-top: 0;
    }

    &__media {

    }

    &__content {

    }

    &__name {
      @include fluid(margin-top, 25, 50);
      @include fluid(font-size, 30, 60);
      line-height: 1.5;
    }

    &__contact {
      @include fluid(margin-top, 25, 50);

      .contact {
        @include fluid(margin-top, 8, 16);

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &__description {
      @include fluid(margin-top, 25, 50);
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


@include breakpoint(s) {
  .block-employees {
    .block__content {
      @include grid-column(10, 1);
    }

    .block__employees {
      @include grid-column(10, 1);
    }
  }
}

@include breakpoint(m) {
  .block-employees {
    .block__content {
      @include grid-column(8);
    }

    .block__employees {
      @include grid-column(12);
    }

    .employee {
      @include grid-row();

      &__media {
        @include grid-column(5, 0, 12)
      }

      &__content {
        @include grid-column(6, 1, 12);
        display: flex;
        flex-flow: column;
        justify-content: center;
      }

      &__name {
        margin-top: 0;
      }

      &:nth-child(2n) {
        .employee__media {
          order: 2;
          @include grid-column(5, 1, 12)
        }

        .employee__content {
          order: 1;
          @include grid-column(6, 0, 12)
        }
      }
    }
  }
}